.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */




.site-header {
background:#ffffff;
font-family: 'Georgia', Times, Times New Roman, serif;

}

.site-header h1 {
    margin:0;
    float: left;
    padding: 23px;
}

.main-nav {
    float: right;
}

.main-nav ul { 
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav ul li { 
    display: inline;
}

.main-nav ul li a { 
    display: inline;
    text-decoration: none;
    color: #dddddd;
   

}

h1 {
    background: #4aaaa5;
    color: white;    
    


}

.billboard {
    background:white;
    height: 600px;
     
   
}

.footer {
    padding: 10px 5%;
}

.main-body {
    background: #dddddd;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 960px;
}

h2 {
    color: #4aaaa5;
    position: relative;
    bottom: -29px;
    font-size: 35px;
    left: 37px;
}

.border-bottom {
    border-bottom: 3px solid #dddddd;
    bottom: 508px;
    position: relative;
    box-sizing: border-box;
    width: 94%;
    left: 30px;
}


img {
    bottom: -105px;
    position: relative;
    left: 22px;
}